# Assignment 3

### Write a function to count the number 4 in a given list.

In [ ]:
def count (list_1) :
    countt=list_1.count(4)
    print(countt)


list_1=[1,3,5,4,5,4,2,9,8,4]
count(list_1)

### write a  function to check whether a number is divisible by another number.

In [ ]:
def div (x,y):
    if x%y == 0:
        print(f'{x} is divisible by {y}')
    else:
        print(str(x)+" is  not divisible by "+ str(y))
div(6,2)

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def max_min(nums):
    min_value= max_value=nums[0]
    
    for i in nums :
        if i<min_value :
            min_value=i
            
        if i>max_value :
            max_value=i 
    return max_value , min_value
        
nums=[1,3,5,9,14,15,20,30,100,-9,0]
print(max_min(nums))
print(max(nums))
print(min(nums))

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def max_min(nums1,nums2):
    for i in nums1:
        for j in nums2:
            if i==j :
                print("true")
                return
            else:
                print("false")
    


nums1=[1,3,5,9,14,15,20,30,100,-9,0]
nums2=[1,3,5,4,5,4,2,9,8,4]
max_min(nums1,nums2)
#x= set(nums1)&set(nums2)
#if len(x)==0:
#   print("false")
#else:
#   print("true")

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

    
x=int(input("Please enter a number: "))   
print("factorial of a number is:", factorial(x))

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [ ]:
def ran(x):
    for i in range(3,12):
        if x==i :
            print("in range")
            return
        
x=4
ran(x)

Write a  program to create the multiplication table (from 1 to 10) of a number.

In [ ]:
X = int(input())

for i in range(1,11):
    print(f'{X} * {i} = {X * i}')

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(x,y):
    if x %2==0 and y%2==0 :
        if x>y:
            print(y)
        elif x<y :
            print(x)
        else:
            print("both equal")
    else:
        
        if x>y:
            print(x)
        elif x<y :
            print(y)
        else:
            print("both equal")
        
            
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [33]:
def start_s(num1,num2):
    if num1[0]== num2[0]:
        print("true")
    
    
    
    
num1="mohamed"
num2="murad"
start_s(num1,num2)

true

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [35]:
def Twenty(x,y): 
    if x+y==20:
        print("true")
    elif x==20 or y==20:
        print("true")
    else :
        print("false")
        
        
        
        
Twenty(2,3)

false

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [42]:
def within(x):
    if x>89 and x<111:
        return "true"
    if x>189 and x<211:
        return "true" 
    else:
        return "false"
        
x=104
within(150)

'false'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [46]:
def blackjack(x,y,z):
    sum=x+y+z
    if sum< 22 :
        return sum 
    else:
        if x>10 or y>10 or z>10:
            return sum-10
        else:
            return "bust"

blackjack(9,9,9)

'bust'